//<script type="text/jsx">
function Default() {
    return (

    <div>
        <div className=" m-auto p-8 w-1/2">
            <div className="flex flex-col items-center justify-center bg-white p-4 opacity-80">
              <img src="https://assets-global.website-files.com/6364b6fd26e298b11fb9391f/6364b6fd26e2980a84b93c84_6319a3ed2bbd159753198827_DrawKit0049_People_working_Illustration_System_Thumbnail.png"
                className="w-full h-60 object-cover rounded-full mb-4"/>
              <div className="text-xl font-bold">Selecciona la tarea a realizar</div>
            </div>
        </div>
    </div>

    );
  }
      //</script>