//<script type="text/jsx">
    function Inicio() {
      return (
          <div>
            <h2 className="text-5xl font-bold text-white bg-blue-950 p-6 mb-8">AtriAPP</h2>
            <div className="grid grid-cols-2 gap-4 m-auto w-3/5 drop-shadow-2xl p-8 bg-sky-200">
              <Link to="/Analista"><div className="flex flex-col items-center justify-center bg-white p-4 drop-shadow-md transition-brightness hover:brightness-75">
                <img src="https://assets-global.website-files.com/6364b6fd26e298b11fb9391f/6364b6fd26e2982a41b93c71_63184c5867aa7b2b84a1e2ca_DrawKit0035_Startups_%2526_Tech_Thumbnail.png"
                  className="w-32 h-32 object-cover rounded-full mb-4"/>
                <div className="text-xl font-bold">ANALISTA</div>
              </div></Link>
              <div className="flex flex-col items-center justify-center bg-white p-4 drop-shadow-md transition-brightness hover:brightness-75">
                <img src="https://assets-global.website-files.com/6364b6fd26e298b11fb9391f/6364b6fd26e298baeeb93c41_631546cb369d2220cc377cd5_DrawKit0001_Peach_Illustration_System_Thumbnail.png"
                  className="w-32 h-32 object-cover rounded-full mb-4"/>
                <div className="text-xl font-bold">GESTION JURIDICA</div>
              </div>
              <div className="flex flex-col items-center justify-center bg-white p-4 drop-shadow-md transition-brightness hover:brightness-75">
                <img src="https://assets-global.website-files.com/6364b6fd26e298b11fb9391f/6364b6fd26e2983675b93c38_6309fdba811f2d7ae6abfdc6_DrawKit0042_Product_%2526_Project_Managers_Thumbnail.png"
                  className="w-32 h-32 object-cover rounded-full mb-4"/>
                <div className="text-xl font-bold">ASOCIADO JURIDICO</div>
              </div>
              <div className="flex flex-col items-center justify-center bg-white p-4 drop-shadow-md transition-brightness hover:brightness-75">
                <img src="https://freewebillustrations.com/static/images/preview/drawkit-student-colour.png"
                  className="w-32 h-32 object-cover rounded-full mb-4"/>
                <div className="text-xl font-bold">GERENTE</div>
              </div>
            </div>
            <div className="grid grid-cols-2 gap-4 mx-auto mt-8 w-3/5 drop-shadow-2xl p-8 bg-fuchsia-100">
              <Link to="/GenerarDocs"><div className="flex flex-row items-center justify-center bg-white p-4 drop-shadow-md transition-brightness hover:brightness-75">
                <div className="text-xl font-bold">GENERADOR DE DOCS</div>
              </div></Link>
            </div>

          </div>
      );
    }
    
        //</script>